{{define "content"}}
<div class="container content center">
    <h2>We help you build applications that run beautifully on all your devices</h2>
    <h4>
        We work with
        <a href="http://getbootstrap.com/" data-toggle="tooltip" title="JavaScript, CSS3 & HTML5; connecting with virtually any backend via webservices" target="_blank" rel="external">standard web technologies</a>
        to build
        <a href="http://stackoverflow.com/a/15063110/937891" data-toggle="tooltip" title="We build with Twitter Bootstrap and use a hybrid of adaptive and fluid layouts, to give your users an optimal experience on every device" target="_blank" rel="external">responsive</a>
        web-apps &amp; sites, &amp;
        <a href="http://phonegap.com" data-toggle="tooltip" title="We use PhoneGap to package single page, offline-capable, responsive web-apps as native Android & iOS apps that can be released via their respective stores" target="_blank" rel="external">hybrid smartphone apps</a>.
    </h4>
    <div class="content-well">
        <h3>Here is some of the stuff we've been working on: </h3>
        <div class="card-wrapper">
            {{range $Item := .homePageItems}} {{template "portfolioCard" $Item}} {{end}}
        </div>
        <br/>
        <h4><a href="/portfolio" class="btn btn-default btn-lg"><i class="icon-eye-open"></i> SEE MORE</a></h4>
    </div>
    <h4>
        Want to work with us or just say hi? Drop a line at <a href="mailto:mail@doersguild.com?subject=I'd%20love%20to%20work%20with%20you%20guys!" target="_blank">mail@doersguild.com</a>
    </h4>
    <div class="content-well">
        <h3>So, what's it like to work with a <span class="doer-font doer-red">Doer</span>? Just ask our clients :</h3>
        <div class="card-comment-wrapper">
            {{$portfolioClients := .portfolioClients}}
            {{$portfolioItems := .portfolioItems}}
            {{range $Item := .homePageFeedback}}
                {{$Project := index $portfolioItems $Item.ProjectID}}
                {{$Client := index $portfolioClients $Item.PersonID}}
                <div class="inline-block center card-comment">
                    <div class=" padding-0">
                        <div class="popover popover-static top">
                            {{if $Client.Name}} <div class="arrow"></div> {{end}}
                            <div class="card-comment-popover-content">
                                <h3 class="popover-title bold"><a href="/portfolio/{{$Project.CategoryID}}/{{$Project.ID}}">{{$Project.Title}}</a></h3>
                                <div class="popover-content">
                                    <p>{{$Item.Message}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-comment-user">
                            {{template "clientNameAndLink" $Client}}
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
    <!-- Begin MailChimp Signup Form -->
    <h4 id="mc_embed_signup">
        <form action="http://doersguild.us7.list-manage.com/subscribe/post?u=920d878866b1fa26b32d2d6b2&amp;id=f3dd827ec5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
            <div class="form-group">
                <label for="mce-EMAIL" class="col-md-5 text-right line-height-33">Subscribe to <a href="http://blog.doersguild.com" class="doer-font doer-red">The Doers' Blog</a>: </label>
                <div class="input-group col-md-6">
                    <span class="input-group-addon"><i class="icon-envelope"></i></span>
                    <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="your@email.com" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_920d878866b1fa26b32d2d6b2_f3dd827ec5" value=""></div>
                    <span class="input-group-btn">
                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
                            Subscribe
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </h4>
    <!--End mc_embed_signup-->
</div>
{{end}}