{{define "content"}}
<div class="background">
    <div class="container content center">
        {{$Category:=.portfolioCategory}}
        {{$Item := .portfolioItem}}
        {{$Clients := .portfolioClients}}
        <section id="{{$Category.ID}}">
            <header>
                <h3 class="doer-font doer-red center">
                    <a href="/portfolio" class="inline-block">Portfolio</a> 
                    <i class="icon-arrow-right margin-5"></i> 
                    <a href="/portfolio/{{$Category.ID}}" class="inline-block">{{$Category.Name}}</a> 
                    <i class="icon-arrow-right margin-5"></i> 
                    <a href="/portfolio/{{$Category.ID}}/{{$Item.ID}}" class="inline-block">{{$Item.Title}} :</a>
                </h3>
            </header>
            <div class="content-well"> 
                <div class="row-fluid">
                    <div class="span3"> 
                        <div class="img-polaroid">
                            {{template "portfolioCardContent" $Item}}
                        </div> 
                        {{if $Item.Links}}
                            <br/>
                            <div class="img-polaroid">
                                <h4 class="card-header">Links:</h4>
                                <ul class="nav nav-list">
                                    {{range $Name, $Link := $Item.Links}}
                                        <li> 
                                            <a href="{{$Link}}" target="_blank" rel="external">{{$Name}}</a>
                                        </li>
                                    {{end}}
                                </ul>
                            </div>
                        {{end}}
                        {{if $Item.Feedback}}
                            <br/>
                            <div class="img-polaroid">
                                <h4 class="card-header">Feedback:</h4>
                                <ul class="nav nav-list">
                                    {{range $Feedback := $Item.Feedback}}
                                        <li> 
                                            {{template "clientNameAndLink" index $Clients $Feedback.PersonID}} 
                                            <blockquote>{{$Feedback.Message}}</blockquote>
                                        </li>
                                    {{end}}
                                </ul>
                            </div>
                        {{end}}
                    </div>
                    <div class="span9"> 
                        <ul class="nav nav-list">
                            {{range $Screenshot:=$Item.Screenshots}}
                                <li> <img src="{{$Screenshot}}" class="img-polaroid margin-5" /> </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /container -->
</div>
{{end}}