{{define "content"}}
<div class="background">
    <div class="container content">
        {{$Category:=.portfolioCategory}}
        <section id="{{$Category.ID}}">
            <header class="container">
                <h3 class="doer-font doer-red center">
                    <a href="/portfolio" class="inline-block">Portfolio</a>
                    <i class="icon-arrow-right margin-5"></i>
                    <a href="/portfolio/{{$Category.ID}}" class="inline-block">{{$Category.Name}} :</a>
                </h3>
                <p class="center">{{$Category.Desc}}</p>
            </header>
            <div class="content-well">
                <div class="card-wrapper">
                    {{range $Item := $Category.Items}} {{template "portfolioCard" $Item}} {{end}}
                </div>
            </div>
        </section>
        <h4 class="center">
            We can built stuff like this for you, too. Drop a line at <a href="mailto:mail@doersguild.com" target="_blank">mail@doersguild.com</a>
        </h4>
    </div>
    <!-- /container -->
</div>

{{end}}
