{{define "content"}}
<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-3 bs-docs-sidebar">
                <ul class="nav nav-tabs nav-stacked sidenav affix">
                    {{range $CategoryID,$Category:=.portfolioCategories}}
                        <li>
                            <a href="#{{$CategoryID}}"><h4 class="title doer-red center">{{$Category.Name}}</h4></a>
                        </li>
                    {{end}}
                </ul>
            </div>
            <div class="col-md-9 img-rounded content">
                {{$Categories:=.portfolioCategories}}
                {{range $CategoryID, $Category:=.portfolioCategories}}
                    <section id="{{$CategoryID}}">
                        <header>
                            <a href="/portfolio/{{$CategoryID}}"><h3 class="doer-font doer-red center">{{$Category.Name}}</h3></a>
                            <h5 class="center">{{$Category.Desc}}</h5>
                        </header>
                        <div class="content-well">
                            <div class="card-wrapper">
                                {{range $Item := $Category.Items}} {{template "portfolioCard" $Item}} {{end}}
                            </div>
                        </div>
                    </section>
                    <hr/>
                {{end}}
                <h4 class="center">
                    Like what you see? Drop a line at <a href="mailto:mail@doersguild.com?subject=I'd%20love%20to%20work%20with%20you%20guys!" target="_blank">mail@doersguild.com</a>
                </h4>
                <!-- <div class="alert center content-well-base">We are still uploading the rest of our portfolio, in the meantime please find a text-only version at <a href="http://goo.gl/xWo1X" target="_blank">http://goo.gl/xWo1X</a></div> -->
            </div>
        </div>
    </div>
    <!-- /container -->
</div>

{{end}}