{{define "content"}}
<div class="background">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 bs-docs-sidebar">
                <ul class="nav nav-tabs nav-stacked sidenav affix">
                    {{range $Category,$Item:=.portfolioItems}}
                        <li>
                            <a href="#{{$Category.ID}}"><h4 class="title doer-red center">{{$Category.Name}}</h4></a>
                        </li>
                    {{end}}
                </ul>
            </div>
            <div class="span9 img-rounded content">
                {{range $Category,$Items:=.portfolioItems}}
                    <section id="{{$Category.ID}}">
                        <div>
                            <a href="#{{$Category.ID}}"><h3 class="doer-font doer-red center">{{$Category.Name}}</h3></a>
                            <br />
                        </div>
                        <div class="card-wrapper">
                            {{range $Items}}
                                <a href="/portfolio/{{$Category.ID}}/{{.ID}}" class="card">
                                    <h3 class="card-header " data-length="20">{{.Title}}</h3>
                                    <br />
                                    <div class="center">
                                        <img src="{{.Icon}}" class="logo-size" />
                                    </div>
                                    <br />
                                    <p class="text" data-length="100">{{.ShortDesc}}</p>
                                </a>
                            {{end}}
                        </div>
                    </section>
                    <hr/>
                {{end}}
            </div>
        </div>
    </div>
    <!-- /container -->
</div>

{{end}}