{{define "content"}}
<div class="background">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 bs-docs-sidebar">
                <ul class="nav nav-tabs nav-stacked sidenav affix">
                    {{range $CategoryID,$Category:=.portfolioCategories}}
                        <li>
                            <a href="#{{$CategoryID}}"><h4 class="title doer-red center">{{$Category.Name}}</h4></a>
                        </li>
                    {{end}}
                </ul>
            </div>
            <div class="span9 img-rounded content">
                {{$Categories:=.portfolioCategories}}
                {{range $CategoryID,$Items:=.portfolioItems}}
                    {{ $Category := index $Categories $CategoryID }}
                    <section id="{{$CategoryID}}">
                        <header>
                            <a href="/portfolio/{{$CategoryID}}"><h3 class="doer-font doer-red center">{{$Category.Name}}</h3></a>
                            <br />
                        </header>
                        <div class="card-wrapper">
                            {{range $ItemID,$Item := $Items}}
                                <a href="/portfolio/{{$CategoryID}}/{{$ItemID}}" class="card">
                                    <h3 class="card-header " data-length="20">{{$Item.Title}}</h3>
                                    <br />
                                    <div class="center">
                                        <img src="{{$Item.Icon}}" class="logo-size" />
                                    </div>
                                    <br />
                                    <p class="text" data-length="100">{{$Item.ShortDesc}}</p>
                                </a>
                            {{end}}
                        </div>
                    </section>
                    <hr/>
                {{end}}
            </div>
        </div>
    </div>
    <!-- /container -->
</div>

{{end}}