{{define "content"}}
<div class="background">
    <div class="container content">
        {{$Category:=.portfolioCategory}}
        {{$Item := .portfolioItem}}
        <section id="{{$Category.ID}}">
            <header>
                <h3 class="doer-font doer-red center">
                    <a href="/portfolio">Portfolio</a> 
                    <i class="icon-arrow-right margin-5"></i> 
                    <a href="/portfolio/{{$Category.ID}}">{{$Category.Name}} :</a> 
                    <i class="icon-arrow-right margin-5"></i> 
                    <a href="/portfolio/{{$Category.ID}}/{{$Item.ID}}">{{$Item.Title}}</a> 
                </h3>
            </header>
            <div class="content-well"> 
                {{template "portfolioCard" $Item}} 
            </div>
        </section>
        <hr/>
    </div>
    <!-- /container -->
</div>
{{end}}