<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Doers' Guild{{if .title}} : {{.title}}{{end}}</title>
        <meta name="description" content="Doers' Guild, {{.tagline}}">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">

        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!--[if lt IE 7]><link rel="stylesheet" href="/css/font-awesome-ie7.min.css"><![endif]-->

        <link href='http://fonts.googleapis.com/css?family=PT+Sans|Oleo+Script+Swash+Caps:400,700|PT+Serif' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/main.css">

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <script type="text/javascript">
            (function() {"use strict";
                Modernizr.load([{
                    load : '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js',
                    complete : function() {
                        if (!window.jQuery) {
                            Modernizr.load('/js/vendor/jquery-1.9.1.min.js');
                        }
                    }
                }, "/js/vendor/bootstrap.min.js", "/js/vendor/jquery.masonry.min.js", "/js/plugins.js", "/js/main.js"]);
            })();
        </script>
    </head>
    <body>
        <!--[if lt IE 9]>
        <p class="chromeframe alert alert-error">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header class="container-fluid">
            <div class="row-fluid center doer-font doer-red">
                <div class="span4">
                    <ul class="nav nav-tabs border-none inline-block">
                        <li>
                            <a href="/" data-toggle="tooltip" title="There's no place like home"><h1 class="doer-font doer-red">Doers' Guild</h1></a>
                        </li>
                    </ul>
                </div>
                <div class="span8 row-fluid">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="http://blog.doersguild.com/" data-toggle="tooltip" title="Our, blog where we talk about the stuff we build, the tools we use and the things we learn." target="_blank"><h3 class="doer-font doer-red">Blog</h3></a>
                        </li>
                        <li>
                            <a href="/portfolio" data-toggle="tooltip" title="Most of our work, listed out beautifully for you to enjoy"><h3 class="doer-font doer-red">Portfolio</h3></a>
                        </li>
                        <li>
                            <a href="https://coderwall.com/team/doers-guild#main-content" data-toggle="tooltip" title="We could've written something ourselves, but Coderwall does this pretty damn well" target="_blank"><h3 class="doer-font doer-red">About</h3></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <article>
            {{template "content" .}}
        </article>

        <footer class="container-fluid doer-font doer-red">
            <hr/>
            <ul class="nav nav-tabs nav-tabs-right margin-0 border-none">
                <li>
                    <a href="/"> &copy; Doers' Guild : {{.tagline}} </a>
                </li>
                <li>
                    <a href="mailto:mail@doersguild.com" title="Email" target="_blank"><i class="icon-envelope"></i></a>
                </li>
                <li>
                    <a href="https://github.com/DoersGuild" title="Github" rel="publisher"  target="_blank"><i class="icon-github"></i></a>
                </li>
                <li>
                    <a href="https://angel.co/doers-guild" title="AngelList" rel="publisher" target="_blank">A</a>
                </li>
                <li>
                    <a href="https://coderwall.com/team/doers-guild#main-content" title="CoderWall" rel="publisher" target="_blank">C</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/DoersGuild" title="Facebook" rel="publisher"  target="_blank"><i class="icon-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/DoersGuild" title="Twitter" rel="publisher"  target="_blank"><i class="icon-twitter"></i></a>
                </li>
                <li>
                    <a href="https://plus.google.com/109701554729681057139" title="Google Plus" rel="publisher" target="_blank"><i class="icon-google-plus"></i></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/company/doers'-guild" title="LinkedIn" rel="publisher"  target="_blank"><i class="icon-linkedin"></i></a>
                </li>
            </ul>
        </footer>

        <script>
            var _gaq = [['_setAccount', 'UA-5141372-4'], ['_trackPageview']];
            _gaq.push(['_require', 'inpage_linkid', '//www.google-analytics.com/plugins/ga/inpage_linkid.js']);
            ( function(d, t) {
                    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                    g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g, s)
                }(document, 'script'));
        </script>
    </body>
</html>